body{
    background-color: rgb(224, 244, 252);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Ibarra Real Nova', serif;
}

h1{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: rgb(9, 188, 201);
}

h2{
    font-size: 32px;
    text-align: center;
}

h3{
    font-size: 20px;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    padding: 0;
    list-style-type: none;
}

/*button styling*/
.button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 100px;
    background-color: white;
}

.button-primary{
    background-color: rgb(125, 213, 245);
}

.button-secondary{
    background-color: white;
}
/*header*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 300px;
    background-image: url(./img/i5dtt94cxs701.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-a{
    text-align: center;
}
/*main*/
main{
    text-align: center;
}

main article{
    padding: 25px;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(226, 226, 226);
    padding: 25px;
    margin: 0;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-nederst{
    margin: 50px;
}

/*Kontakt*/
.kontakt-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

@media only screen and (min-width: 768px){
    .container{
        width: 40%;
        margin: 0 auto 0 auto;
        
    }
    /*main*/
    main{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    main article{
        width: 70%;
    }
    /*footer*/
    footer ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    /*Kontakt*/
    .kontakt-ul ul{
        display: flex;
    }
}